.container1,
.container2,
.container3,
.container4 {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border: 3px solid black;
}

.flex-box-ctn-1,
.flex-box-ctn-2,
.flex-box-rps,
.flex-box-ctn-4 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-box-ctn-1 div {
    padding: 10px;
}

.flex-box-ctn-2 img {
    border: 1px solid green;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 50px rgb(131, 61, 177);
}